
Testing/
*.log
frx servers -javascript version/node_modules/
frx servers -javascript version/dist/
javascript_version/Frx\ Servers/
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
.venv/
env/
*.DS_Store
Thumbs.db
Binaries/